<head>
  <meta charset='<%= Rails.application.config.encoding %>' />
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
  <title><%= browser_title(yield(:title)) %></title>
  <%= raw %(<meta name="description" content="#{@meta.meta_description}" />) if @meta.meta_description.present? -%>
  <%= raw %(<meta name="keywords" content="#{@meta.meta_keywords}">) if @meta.meta_keywords.present? -%>
  <% array=(params[:controller]).split('/') %>
  <% model_name = (array.last).singularize.downcase %>
  <% @params= instance_variable_get("@#{model_name}") %>
  <% if (params[:action]=="show") %>
  <%= raw "<meta property=\"og:title\" content=\"#{@params.og_title}\"/>" %>
  <%= raw "<meta property=\"og:description\" content=\"#{@params.og_description}\"/>" %>
  <%= raw "<meta property=\"og:type\" content=\"#{@params.og_type}\"/>" %>
  <%= raw "<meta property=\"og:url\" content=\"#{request.url }\"/>" %>
  <%= raw "<meta property=\"article:tag\" content=\"#{@params.article_tag}\"/>" %>
  <%= raw "<meta property=\"article:author\" content=\"#{@params.article_author}\"/>" %>
  <%= raw "<meta property=\"og:image\" content=\"http://www.iwa.fi/images/logo.png\"/>" %>
  <% else %>
  <meta property="og:title" content="Iwa Labs Oy" />
  <meta property="og:type" content="company" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:image" content="http://www.iwa.fi/images/logo.png" />
  <meta property="og:site_name" content="Iwa Labs" />
  <meta property="fb:app_id" content="212311028070" />
  <meta itemprop="name" content="Iwa Labs Oy" />
  <meta itemprop="description" content="" />
  <meta itemprop="image" content="http://www.iwa.fi/images/logo.png" />
  <% end %>
  <%= raw %(<link rel="canonical" content="#{@canonical}" />) if @canonical.present? -%>
  <%= csrf_meta_tags if Refinery::Core.authenticity_token_on_frontend -%>
  <%= yield :meta %>

  <%= stylesheet_link_tag "application", "formatting", "theme" %>
  <%= stylesheet_link_tag "home" if home_page? %>
  <%= yield :stylesheets %>
  <%= render '/refinery/google_analytics' %>
  <%= javascript_include_tag 'modernizr-min' %>
</head>
